/******************* WIDTH ******************/

$content-width: 1320px;
$min-width:370px;
$medium-width:768px;
$large-width: 1440px;
$xlarge-width: 1920px;

/******************** FONTS *****************/

$primary-font:'Josefin Sans', sans-serif;
$secondary-font: 'Aleo', serif;

/******************* COLORS *****************/

$white: #FFFFFF;
$dark: #232323;
$dark-gray: #333333;
$black: #000000;
$blue: #5373FD;
$color-hover:#1abc9c;
